/* css variables */
:root {
  --primary: #3FCA89;
  --dark-primary: #10ac84;
  --secondary: #ADD2C1;
  --alizatin: #e74c3c;
  --dark: #0E0E0F;
  --grey-3: #555555;
  --grey-2: #707070;
  --grey-1: #8B8B8B;
  --grey-0: #A7A4A4;
  --hint-of-pensive: #dcdde1;
  --white: #fefefe;
  --clouds: #ecf0f1;
  --btn-radius: 6px;
}

/* css variables / end */

/* reset style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--white);
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style-type: none;
}

i {
  display: inline-block;
  width: 30px;
  text-align: center;
  font-size: 25px;
}

i:hover {
  color: var(--primary);
  cursor: pointer;
}

img {
  width: 100%;
}

/* reset style / end */

/* header */
header .main-header {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  height: 72px;
  display: flex;
  align-items: center;
  color: var(--grey-3);
}

.main-header h2 {
  flex: 1 1;
  font-size: 24px;
}

.main-header .social-icons {
  display: flex;
  flex: 0 1 250px;
  justify-content: space-around;
  align-items: center;
  padding: 0 22px;
}

.contact-me {
  font-weight: 700;
  font-size: 16px;
  padding: 9px 22px;
  border: 1px solid;
  border-radius: var(--btn-radius);
  border-color: var(--primary);
  background-color: var(--primary);
  color: var(--clouds);
  cursor: pointer;
  outline: none;
  transition: 0.2s ease;
}

.contact-me.reverse {
  border-color: var(--grey-3);
  background-color: transparent;
  color: var(--grey-3);
}

.contact-me.reverse:hover {
  border-color: var(--primary);
  background-color: var(--primary);
  color: var(--clouds);
}

/* header / end */

/* float */
#float {
  background-color: var(--white);
  /* position: fixed;
  top: 0;
  height: 100vh;
  overflow: hidden; */
  width: 100%;
}

/* float / end */

/* navigation */
nav {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: var(--grey-0);
  /* position: relative; */
  z-index: 3;
}

nav .navbar {
  display: flex;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar ul {
  display: flex;
}

.navbar ul#menu-info {
  flex: 1 0 377px;
}

.navbar ul#menu-info .nav-link {
  padding-left: 0;
  padding-right: 0px;
}

.navbar ul#menu-projects {
  padding-left: 25px;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: var(--grey-0);
  flex: 1 1 100%;
  overflow-x: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.navbar ul#menu-projects::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.navbar .nav-link {
  display: inline-block;
  padding: 12px 6px;
  padding-bottom: 9px;
  border-bottom: 3px solid;
  border-color: rgba(63, 202, 137, 0);
  transition: border-color 0.3s;
  margin-right: 20px;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
  border-color: rgba(63, 202, 137, 1);
}

.nav-link#all {
  padding: 11px 12px 10px 12px;
}

.nav-link#all i {
  font-size: 12px;
}

/* navigation / end */

/* main / container */
.container {
  max-width: 1160px;
  padding: 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 1fr;
}

section.info {
  display: grid;
  grid-gap: 15px;
  position: relative;
  width: 378px;
}

section.info .card {
  /* max-width: 378px; */
  width: 100%;
  min-height: 592px;
  padding: 20px;
  border: 1px solid;
  border-color: var(--grey-1);
  background-color: var(--white);
  color: var(--dark);
}

/* card / profile */
.card#contact {
  height: 592px;
}

.avatar-box {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}

.profile {
  text-align: center;
  margin: 15px 0;
  margin-bottom: 20px;
}

.profile h3 {
  margin: 10px;
  font-size: 24px;
  font-weight: 700;
  color: var(--dark);
}

.profile p {
  font-size: 16px;
  margin-bottom: 6px;
}

.card .contact-me {
  width: 100%;
}

.contact-me:hover {
  border-color: var(--primary);
  background-color: var(--dark-primary);
  color: var(--clouds);
}

.contact-me:active {
  -webkit-box-shadow: inset 0 2px 8px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 2px 8px 4px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 2px 8px 4px rgba(0, 0, 0, 0.3);
}

hr {
  margin: 20px 0;
}

.contact-info {
  font-size: 14px;
}

.contact-info .contact-item {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.contact-item .info-name {
  flex: 1 1 150px;
  display: flex;
  align-items: center;
  color: var(--grey-3);
}

.contact-item .info-name i {
  margin-right: 6px;
}

.contact-item .info-value {
  justify-self: flex-end;
  text-align: right;
  line-height: 1.2rem;
  font-weight: 700;
  color: var(--dark);
}

/* card / profile / end */

/* card / education */
.card h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  color: var(--dark);
}

.description p {
  font-size: 14px;
  line-height: 1.4rem;
  color: var(--grey-3);
}

.educations {
  font-size: 14px;
}

.card h4 {
  color: var(--grey-3);
  margin-bottom: 10px;
  font-size: 16px;
}

.educations ul {
  margin-bottom: 12px;
  position: relative;
  margin-left: 7px;
  padding-left: 14px;
  /* border-left: 1px solid; */
  border-color: var(--grey-3);
}

.educations ul#formal:before,
.educations ul#informal:before {
  content: "";
  position: absolute;
  left: -1px;
  width: 0;
  border-left: 1px solid;
  border-color: var(--grey-3);
}

.educations ul#formal:before {
  height: 93px;
}

.educations ul#informal:before {
  height: 31px;
}

.educations ul:last-child {
  margin-bottom: 0;
}

.educations ul li {
  margin: 10px 0;
  display: grid;
  grid-template-columns: auto 1fr;
}

.educations ul li .circle-check {
  width: 15px;
  height: 15px;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--grey-3);
  border-radius: 50%;
  position: absolute;
  left: -8px;
}

.educations ul li .circle-check.current {
  background-color: var(--primary);
}

.educations ul li .circle-check.passed {
  border-width: 2px;
  border-color: var(--primary);
}

.educations ul li .years {
  display: inline-block;
  width: 75px;
  color: var(--grey-3);
}

.educations ul li div {
  line-height: 1.4rem;
}

.educations ul li .institution span {
  display: block;
}

.educations ul li .institution span:last-child {
  color: var(--grey-3);
}

/* card / education / end */

/* card / skills */
.card#skills {
  display: flex;
  flex-direction: column;
}

ul.skills-list {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin-bottom: 10px;
}

ul li {
  font-size: 14px;
}

ul.skills-list li {
  /* margin-left: 10px; */
  margin-bottom: 10px;
  padding: 4px 16px;
  border: 1px solid;
  border-color: var(--grey-3);
  border-radius: 13px;
  text-align: center;
  flex-grow: 1;
  margin-right: 5px;
}

ul.skills-list li:hover {
  background-color: var(--primary);
  color: var(--white);
  cursor: pointer;
}

ul.languages-list li {
  color: var(--grey-3);
  line-height: 1.4rem;
}

ul.languages-list li span {
  color: var(--grey-1);
}

/* card / skills / end */

/* card / stats */
ul.stats-list li {
  display: grid;
  grid-gap: 8px;
  grid-template: auto auto / 3fr 1fr;
  margin-bottom: 10px;
}

ul.stats-list li .stat-value {
  justify-self: end;
}

ul.stats-list li .stat-bar {
  grid-column: span 2;
  border: 1px solid;
  border-color: var(--grey-0);
}

ul.stats-list li .stat-bar .stat-bar-value {
  border: 1px solid;
  border-color: #3FCA89;
  width: 100%;
}

/* stats bar values */
ul.stats-list li .stat-bar .stat-bar-value[data-id="1"] {
  width: 100%;
  opacity: 1;
}

ul.stats-list li .stat-bar .stat-bar-value[data-id="2"] {
  width: 94%;
  opacity: 0.94;
}

ul.stats-list li .stat-bar .stat-bar-value[data-id="3"] {
  width: 68%;
  opacity: 0.68;
}

ul.stats-list li .stat-bar .stat-bar-value[data-id="4"] {
  width: 80%;
  opacity: 0.8;
}

ul.stats-list li .stat-bar .stat-bar-value[data-id="5"] {
  width: 75%;
  opacity: 0.75;
}

ul.stats-list li .stat-bar .stat-bar-value[data-id="6"] {
  width: 45%;
  opacity: 0.45;
}

ul.stats-list li .stat-bar .stat-bar-value[data-id="7"] {
  width: 24%;
  opacity: 0.24;
}

ul.stats-list li .stat-bar .stat-bar-value[data-id="8"] {
  width: 11%;
  opacity: 0.11;
}

ul.stats-list li .stat-bar .stat-bar-value[data-id="9"] {
  width: 56%;
  opacity: 0.56;
}

ul.stats-list li .stat-bar .stat-bar-value[data-id="10"] {
  width: 52%;
  opacity: 0.52;
}

ul.stats-list li .stat-bar .stat-bar-value[data-id="11"] {
  width: 33%;
  opacity: 0.33;
}

/* stats bar values / end */

.total-projects {
  display: flex;
  justify-content: space-between;
}

/* card / stats / end */

/* projects list */
.my-projects {
  padding: 0 20px;
}

.my-projects h3 {
  margin-bottom: 20px;
}

.my-projects .projects-list {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
}

.my-projects .projects-list .project {
  border: 1px solid;
  border-color: var(--grey-0);
}

.my-projects .projects-list .project .desc {
  padding: 5px 10px;
  font-size: 12px;
  color: var(--grey-3);
  display: flex;
  flex-wrap: wrap;
}

.my-projects .projects-list .project .desc .tag {
  display: inline-block;
  padding: 2px 8px;
  border: 1px solid;
  border-color: var(--hint-of-pensive);
  border-radius: 12px;
  margin-right: 4px;
  margin-bottom: 4px;
}

/* projects list / end */

/* main / container / end */

/* preset */
.mt-auto {
  margin-top: auto;
}

/* preset / end */